

@{
    //ViewBag.Title = "ResetSucces11s";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<h4>You has been reset password successful. </h4>
<h4>The new password has been sent to your email address. </h4>
<h4>@Html.ActionLink("Comeback to Login", "Login", "Login", new { area = "" }, new { @class = "btn btn-primary" })</h4>
