################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/HR_Evaluate/bin
/src/HR_Evaluate/obj
/src/packages
